<div>
    <h3>Post details:</h3>
    <article>
        <img src="{{post.picPath}}" alt="{{post.picName}}">
        <h5>Author: {{user.username}}</h5>
        <p>{{post.content}}</p>
    </article>
</div>