<div>
    <form action="/create" method="post" enctype="multipart/form-data">
        <label> Image
            <input type="file" name="picPath" />
        </label>
        
        <label> Image name
            <input type="text" name="picName" />
        </label>

        <label> Content:
            <input type="text" name="content" placeholder="What do you wanna say?" />
        </label>       
        
        <button type="submit">Create post</button>

    </form>
</div>